h1{
    font-family: 'Permanent Marker', cursive;
}



.title{
  
    font-size: 48px;
    color: #adf7ff;
    text-shadow: 3px 3px black;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    bottom:220px;
    z-index: 2;
    -webkit-text-stroke: .25px black; 
}



.subtitle{
    font-family: 'Yellowtail', cursive;
    position: relative;
    bottom: 145px;
    right:5px;
    color:#ffffff;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
      text-shadow: 0 0 10px #e60073, 0 0 20px #e60073, 0 0 30px #ebb9d2, 0 0 40px #ebb9d2, 0 0 50px #ebb9d2;
    }
    to {
      text-shadow: 0 0 20px #e60073, 0 0 30px #ffffff, 0 0 40px #ffffff, 0 0 50px #ffffff, 0 0 60px #ffffff;
    }
  }

h2{
    font-family: 'Nanum Gothic', sans-serif;
    z-index: 2;
}

svg{
    opacity: .8;
    
}

div.contact{
    float:left;
}

svg:hover{
    opacity:1;
    transition: .2s
}

@media only screen and (max-width: 1194px) {
.title{position: relative;}
}

@media only screen and (max-width: 768px){
    .title{font-size:44px}
    .subtitle{font-size:30px}
}